In [ ]:
# Importing all necessary python libraries and modules. 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
# Mounting drive to read data 
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#reading and storing the data as a csv file
spam_file = pd.read_csv("/content/drive/MyDrive/smsspamcollection/SMSSpamCollection", names = ['Label', 'Text'], delimiter = '\t')
spam_file

In [ ]:
# converting ham to 0 and spam to 1's in the label columns.
# Note that we can also do this manually
encode = LabelEncoder()
spam_file['Label'] = encode.fit_transform(spam_file['Label'])
spam_file['Label'].value_counts()

In [ ]:
# Showing the distribution of the dataset
ones, zeroes = spam_file['Label'].value_counts()
# make EDA of ham/spam

In [ ]:
lab = pd.DataFrame(spam_file["Label"])
inptxt = pd.DataFrame(spam_file["Text"])

In [ ]:
# Dividing the dataset into train and Test+Validation sets and further breaking that into validation and test sets
X_train, X_valtest, y_train, y_valtest = train_test_split(
    inptxt, lab, test_size=0.30)
X_test, X_val, y_test, y_val = train_test_split(
    X_valtest, y_valtest, test_size=0.5)
train_set = pd.concat([y_train, X_train], axis=1)
test_set = pd.concat([y_test,X_test],axis=1)
validation_set =pd.concat([y_val,X_val],axis=1)

In [ ]:
train_set

      Label                                               Text
3201      0  Just curious because my cuz asked what I was u...
287       0                                               Ok..
4242      0               Detroit. The home of snow. Enjoy it.
576       1  You have won ?1,000 cash or a ?2,000 prize! To...
1279      0  Can i meet ü at 5.. As 4 where depends on wher...
...     ...                                                ...
3387      0  Oops - am at my mum's in somerset... Bit far! ...
1123      0               Ok.ok ok..then..whats ur todays plan
4707      0  Wow so healthy. Old airport rd lor. Cant thk o...
3506      0             life alle mone,eppolum oru pole allalo
3217      1  URGENT! We are trying to contact U. Todays dra...

[3900 rows x 2 columns]

In [ ]:
test_set

      Label                                               Text
2923      0                  I've not sent it. He can send me.
2454      0                       How much she payed. Suganya.
4472      0            Wa... U so efficient... Gee... Thanx...
4123      0  Doc prescribed me morphine cause the other pai...
792       0                    All e best 4 ur driving tmr :-)
...     ...                                                ...
4235      0  Now only i reached home. . . I am very tired n...
5202      0           WOT STUDENT DISCOUNT CAN U GET ON BOOKS?
4087      0                        Lemme know when you're here
5136      0  There are some nice pubs near here or there is...
5212      0                      K.k.how is your business now?

[836 rows x 2 columns]

In [ ]:
validation_set

      Label                                               Text
3935      0   How come guoyang go n tell her? Then u told her?
665       0  Yes baby! We can study all the positions of th...
263       0  MY NO. IN LUTON 0125698789 RING ME IF UR AROUN...
2931      0                  Wat's my dear doing? Sleeping ah?
1985      1  Urgent! Please call 09061743810 from landline....
...     ...                                                ...
4658      1  PRIVATE! Your 2003 Account Statement for shows...
4884      0  New Theory: Argument wins d SITUATION, but los...
5155      0  MY NEW YEARS EVE WAS OK. I WENT TO A PARTY WIT...
4725      1  FREE GAME. Get Rayman Golf 4 FREE from the O2 ...
289       0  My life Means a lot to me, Not because I love ...

[836 rows x 2 columns]

In [ ]:
#storing and saving the datasets as 3 separate csv files. 
train_set.to_csv("train.csv")
test_set.to_csv("test.csv")
validation_set.to_csv("validation.csv")