In [21]:
# Importing all necessary python libraries and modules. 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [22]:
# # Mounting drive to read data 
# from google.colab import drive
# drive.mount('/content/drive')

In [23]:
#reading and storing the data as a csv file
spam_file = pd.read_csv(r"C:\Users\User\Downloads\smsspamcollection\SMSSpamCollection", names = ['Label', 'Text'], sep = '\t')
spam_file

     Label                                               Text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [24]:
# converting ham to 0 and spam to 1's in the label columns.
# Note that we can also do this manually
encode = LabelEncoder()
spam_file['Label'] = encode.fit_transform(spam_file['Label'])
spam_file['Label'].value_counts()

0    4825
1     747
Name: Label, dtype: int64

In [25]:
# Showing the distribution of the dataset
ones, zeroes = spam_file['Label'].value_counts()
# make EDA of ham/spam

In [26]:
lab = pd.DataFrame(spam_file["Label"])
inptxt = pd.DataFrame(spam_file["Text"])

In [27]:
# Dividing the dataset into train and Test+Validation sets and further breaking that into validation and test sets
X_train, X_valtest, y_train, y_valtest = train_test_split(
    inptxt, lab, test_size=0.30)
X_test, X_val, y_test, y_val = train_test_split(
    X_valtest, y_valtest, test_size=0.5)
train_set = pd.concat([y_train, X_train], axis=1)
test_set = pd.concat([y_test,X_test],axis=1)
validation_set =pd.concat([y_val,X_val],axis=1)

In [28]:
train_set

      Label                                               Text
4959      0                   Why didn't u call on your lunch?
3984      0  Nationwide auto centre (or something like that...
1643      0                           Sleeping nt feeling well
4277      0           Can you please send me my aunty's number
3055      0                      What happened to our yo date?
...     ...                                                ...
2762      0  I am not sure about night menu. . . I know onl...
4658      1  PRIVATE! Your 2003 Account Statement for shows...
1231      0  I want to send something that can sell fast.  ...
2661      0                  Want to finally have lunch today?
2723      0  It's justbeen overa week since we broke up and...

[3900 rows x 2 columns]

In [29]:
test_set

      Label                                               Text
4289      0  Hey mr whats the name of that bill brison book...
1120      1  Bored of speed dating? Try SPEEDCHAT, txt SPEE...
1489      0  Tell them no need to investigate about me anyw...
1878      0  This pen thing is beyond a joke. Wont a Biro d...
3021      0  I thank you so much for all you do with selfle...
...     ...                                                ...
5168      0  I‘ve got some salt, you can rub it in my open ...
710       1  4mths half price Orange line rental & latest c...
1323      0                 Oh just getting even with u.... u?
888       0  Y dun cut too short leh. U dun like ah? She fa...
3590      0  I've sent my wife your text. After we buy them...

[836 rows x 2 columns]

In [30]:
validation_set

      Label                                               Text
2048      0  No de. But call me after some time. Ill tell y...
656       0      Tell them the drug dealer's getting impatient
1778      1  Buy Space Invaders 4 a chance 2 win orig Arcad...
2772      0                                   Then ur sis how?
2945      1  We currently have a message awaiting your coll...
...     ...                                                ...
3130      0  Haha better late than ever, any way I could sw...
3231      0  I feel like a dick because I keep sleeping thr...
192       0  I'm sorry. I've joined the league of people th...
5384      0  How are you babes. Hope your doing ok. I had a...
5454      0       Im just wondering what your doing right now?

[836 rows x 2 columns]

In [31]:
#storing and saving the datasets as 3 separate csv files. 
train_set.to_csv("train.csv")
test_set.to_csv("test.csv")
validation_set.to_csv("validation.csv")

In [32]:
train_set.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
0      3389   3221                             Sorry, I'll call later   20
1       511    460  HMV BONUS SPECIAL 500 pounds of genuine HMV vo...    3

In [33]:
test_set.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
0       715    701                             Sorry, I'll call later    4
1       121    119  Bored housewives! Chat n date now! 0871750.77....    2

In [34]:
validation_set.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
0       721    707                             Sorry, I'll call later    6
1       115    111  Buy Space Invaders 4 a chance 2 win orig Arcad...    2